<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="giava.menmath.ditloid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-sdk android:minSdkVersion="11" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icona"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".Game.Game"
            android:label="@string/title_activity_game"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".Rules"
            android:label="@string/strRules"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".HelpUs"
            android:label="@string/strHelpUs"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".NewDitloid"
            android:label="@string/strNewDitloid"
            android:parentActivityName=".HelpUs"/>
        <activity
            android:name=".NewDitloidSend"
            android:label="@string/strNewDitloid"
            android:parentActivityName=".NewDitloid"/>
        <activity
            android:name=".SignalError"
            android:label="@string/strSignalError"
            android:parentActivityName=".HelpUs"/>
        <activity
            android:name=".GiveTip"
            android:label="@string/strGiveTip"
            android:parentActivityName=".HelpUs"/>
        <activity
            android:name=".Game.FragmentPagerSupport"
            android:label="@string/title_activity_game_level"
            android:screenOrientation="portrait"
            android:parentActivityName=".Game.Game"/>
        <activity
            android:name=".Bluetooth.BluetoothChallenge"
            android:label="@string/strChallenge"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".Bluetooth.DeviceList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />
    </application>

</manifest>
