<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="giava.menmath.ditloid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/strChallenge" />
        <activity
            android:name=".Game.Game"
            android:label="@string/title_activity_game" />
        <activity
            android:name=".Rules"
            android:label="@string/strRules" />
        <activity
            android:name=".HelpUs"
            android:label="@string/strHelpUs" />
        <activity
            android:name=".NewDitloid"
            android:label="@string/strNewDitloid" />
        <activity
            android:name=".NewDitloidSend"
            android:label="@string/strNewDitloid" />
        <activity
            android:name=".SignalError"
            android:label="@string/strSignalError" />
        <activity
            android:name=".GiveTip"
            android:label="@string/strGiveTip" />
        <activity
            android:name=".Game.FragmentPagerSupport"
            android:label="@string/title_activity_game_level"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bluetooth.BluetoothChallenge"
            android:label="@string/strChallenge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Bluetooth.DeviceList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />
    </application>

</manifest>
